body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ff758c,#ff7eb3);
    height:100vh;
    overflow:hidden;
    color:white;
    text-align:center;
}

/* Center content */
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.name{
    font-size:2.2rem;
    margin-bottom:20px;
}

.box{
    background: rgba(255,255,255,0.15);
    padding:30px;
    border-radius:20px;
    backdrop-filter: blur(10px);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.buttons button{
    padding:12px 25px;
    margin:15px;
    border:none;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
}

.buttons{
    position:relative;
    height:120px;
}



.buttons{
    position:relative;
    margin-top:20px;
}

#yesBtn{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#ff2e63;
    color:white;
    font-size:18px;
    cursor:pointer;
    position:relative;
    z-index:2;
}

#noBtn{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ff2e63;
    font-size:18px;
    cursor:pointer;
    position:absolute;
    z-index:1;
}





#yesBtn{
    background:#ff2e63;
    color:white;
}

#noBtn{
   position: absolute;
    background:white;
    color:#ff2e63;
    position:absolute;
}

/* Letter page */
.letter-page{
    overflow:auto;
}

.letter-box{
    max-width:600px;
    margin:80px auto;
    background:rgba(255,255,255,0.15);
    padding:30px;
    border-radius:20px;
    backdrop-filter: blur(10px);
    font-size:20px;
    line-height:1.6;
}

/* Floating hearts */
.heart{
    position:absolute;
    color:white;
    animation: floatUp 6s linear infinite;
}

#fireworks{
    position:fixed;
    top:0;
    left:0;
    pointer-events:none;
}


@keyframes floatUp{
    from{
        transform:translateY(100vh);
        opacity:1;
    }
    to{
        transform:translateY(-10vh);
        opacity:0;
    }
}
